<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the request matches an existing file or directory, serve it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Route API requests to Laravel front controller
    RewriteRule ^api(/.*)?$ index.php [L,QSA]

    # Everything else should serve the SPA entrypoint (index.html)
    RewriteRule ^ index.html [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <FilesMatch "^(index\.php)$">
        Require all granted
    </FilesMatch>
</IfModule>
