name: Deploy to Aptible

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      VUE_APP_TITLE: "WOUNDMED INC."
      VUE_APP_API_URL: "https://woundmed.on-aptible.com"
      VUE_APP_BASE_URL: "https://woundmed.on-aptible.com"
      IMAGE_TAG: ghcr.io/${{ github.repository }}:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }},ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Install Aptible CLI
        run: |
          curl -o aptible-cli.deb -L https://aptible-cli.s3.amazonaws.com/aptible-cli_latest.deb
          sudo dpkg -i aptible-cli.deb

      - name: Deploy to Aptible
        run: |
          aptible login --email="${{ secrets.APTIBLE_USERNAME }}" --password="${{ secrets.APTIBLE_PASSWORD }}"
          aptible deploy --app woundmed --docker-img ${{ env.IMAGE_TAG }} --git-detach  # Remove --git-detach after first successful run
        env:
          APTIBLE_PRIVATE_REGISTRY_USERNAME: ${{ github.actor }}
          APTIBLE_PRIVATE_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}