name: aptible

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Deploy to Aptible
      uses: aptible/aptible-deploy-action@v4
      with:
        type: git
        app: woundmed
        environment: woundmed_environment
        username: ${{ secrets.jospalay@proweaver.email }}
        password: ${{ secrets.M_$%-CS7ut-fvEm }}