name: Deploy to Aptible

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_TAG: ghcr.io/${{ github.repository }}:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }},ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Install Aptible CLI
        run: |
          curl -o aptible-toolbelt.deb -L https://omnibus-aptible-toolbelt.s3.amazonaws.com/aptible/omnibus-aptible-toolbelt/latest/aptible-toolbelt_latest_debian-9_amd64.deb
          sudo dpkg -i aptible-toolbelt.deb
          rm aptible-toolbelt.deb  # Optional cleanup
          aptible version  # Verify installation

      - name: Deploy to Aptible
        run: |
          aptible login --email="${{ secrets.APTIBLE_USERNAME }}" --password="${{ secrets.APTIBLE_PASSWORD }}"
          aptible deploy --app woundmed \
            --docker-image ${{ env.IMAGE_TAG }} \
            --private-registry-username ${{ github.actor }} \
            --private-registry-password ${{ secrets.GITHUB_TOKEN }} \
            # Remove the line below after the FIRST successful automatic deploy