name: Deploy to Aptible

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VUE_APP_TITLE: "WOUNDMED INC."
      VUE_APP_API_URL: "https://woundmed.on-aptible.com"
      VUE_APP_BASE_URL: "https://woundmed.on-aptible.com"
      IMAGE_TAG: ghcr.io/${{ github.repository }}:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }},ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Deploy to Aptible
        uses: aptible/aptible-deploy-action@v4
        with:
          type: docker
          app: woundmed
          environment: woundmed_environment
          username: ${{ secrets.APTIBLE_USERNAME }}
          password: ${{ secrets.APTIBLE_PASSWORD }}
          docker_img: ${{ env.IMAGE_TAG }}  # Correct input name
          private_registry_username: ${{ github.actor }}  # For GHCR auth
          private_registry_password: ${{ secrets.GITHUB_TOKEN }}  # For GHCR auth